.navbar {
    height: 20px;
    width: 100%;
    background-color: aqua;
    display: flex;
    position: fixed;
    margin-top: -20px;
}

.navbar a {
    margin-left: 200px;
}

#home h1 {
    font-size: xx-large;
    margin-left: 420px;
    color: red;
}

#home img {
    height: 450px;
    width: 100%;
}

#tribute h1 {
    font-size: xx-large;
    margin-left: 520px;
    color: red;
}

#tribute img {
    height: 200px;
    width: 400px;
    margin-left: 400px;
}

#tribute p {
    font-size: xx-large;
}

.ceo img {
    margin-top: -200px;
}

#informative h1 {
    color: blue;
}

#informative p {
    font-size: larger;
}

.allimages {
    display: inline-flex;
}

#pricing h1 {
    margin-left: 430px;
    color: green;
    font-size: xx-large;
}

#pricing img {
    margin-top: 30px;
}

#pricing h2 {
    margin-left: 150px;
    margin-top: -120px;
    color: crimson;
}

#pricing p {
    margin-left: 150px;
    margin-top: -10px;
}

#pricing h3 {
    margin-left: 800px;
    margin-top: -60px;
    color: purple;
}

.image {
    margin-top: 150px;
}